.cerrada{
  color:red;
}

.activa{
  color: green;
}

.fueraplazo{
  color: orange;
  font-weight: bold;
  text-decoration: underline;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}