.caja{
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(gray), to(brown));
    background-image: -webkit-linear-gradient(top, gray, brown);
    background-image: -moz-linear-gradient(top, gray, brown);
    background-image: linear-gradient(to bottom, gray, brown);;
    border-radius:8px;
}

.error{
    /* color: #a94442; */
}